
ARG UID={{user.uid}}
ARG GID={{user.gid}}

RUN mkdir /addons \
    && groupadd -r -g ${GID} odoo \
    && useradd -r -u ${UID} -g odoo -b /var/lib -m odoo \
    && mkdir /etc/odoo \
    && echo '[options]\ndata_dir = /var/lib/odoo\n' >> /etc/odoo/odoo.conf \
    && chown -R odoo:odoo /etc/odoo \
    && chown -R odoo:odoo /addons \
    && echo "odoo ALL=(ALL:ALL) NOPASSWD:SETENV: /usr/local/bin/odootools" >> /etc/sudoers
