
RUN set -x; \
    apt-get update \
    && apt-get install -y --no-install-recommends \
    {%- for package in odoo_packages %}
        {{package}} \
    {%- endfor %}
    && python -m pip install -U pip \
    {%- if odoo_pip_packages %}
    && python -m pip install \
    {%- for package in odoo_pip_packages %}
        {{package}} \
    {%- endfor %}
    {%- endif %}
    && odootools manage setup \
        --release "{{odoo.release}}" \
        --repo "{{odoo.repo}}" \
        --ref "{{odoo.ref}}" \
        --languages "{{odoo.languages}}" \
        "{{odoo.version}}" \
    && apt-get --purge remove -y \
    {%- for package in odoo_packages %}
        {{package}} \
    {%- endfor %}
    && apt-get autoremove -y \
    && rm -rf /var/lib/apt/lists/* \
    && rm -rf /root/.cache
